@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Compte verrouillé";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Votre compte a été verrouillé en raison d'un trop grand nombre de tentatives de connexion non valides.</h2>
</hgroup>

<p>
    Le compte se déverrouillera automatiquement dans 60 secondes. 
    Réessayez après ce laps de temps.
</p>