@{
    // Définir la page de disposition et la page de titre
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Échec de la connexion";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Échec de la connexion auprès du service.</h2>
</hgroup>
